
*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    line-height: 1.6;
    background: #fff;
    color: $text-color;
    font-family: $main-font;
}

/* For DNN: Reset controls to content-box */
/*#ControlBar_ControlPanel,
.dnnDropDownList,
.actionMenu,
.RadAjaxPanel,
.dnnTextPanel,.RadAjax_Default,
.RadAjax_Default *,
.RadWindow {
    box-sizing: content-box;
}*/
