/*---
title:   Containers
section: Grid
---

Containers belong inside of regions. They have a max width and float clearing and can have a gutter class.

```example:html
<div class="region-blue" style="margin-bottom:20px;overflow: hidden;">
  <div class="container gutter">
    <p style="color:#fff;">container, gutter</p>
  </div>
</div>
```
*/

/* containers */
%container {
  width: 100%;
  margin: 0 auto;
  @mixin float-clear;
}

.container {
  @extend %container;
  max-width: $max-width;
}

