
/* units */
$max-width:      1300px;
$max-width-sm:   920px;

/* colors */
$text-color:     #5A5959;
$blue:           #02a5e1;
$blue-dark:      #0078a5;

$main-font: 'Open Sans', sans-serif;
$title-font: sans-serif;

/* meadia breaks */
$br-md: 620px;

/* meadia breaks bad fallback for max-widths */
$br-md-less: 619px;
