@mixin float-clear {
	position: relative;
}

.float-right    { float: right; }
.float-left     { float: left; }
/* img.float-right { margin: 0 0 $margin $margin; }
img.float-left  { margin: 0 $margin $margin 0; } */
img.max-width   { width: 100%; height: auto; }
/* .text-right    { text-align: right; }
.text-left     { text-align: left; } */
.text-center   { text-align: center; }

.child-margin-clear, 
.child-margin-clear-top {
	 > *:first-child {
		margin-top: 0;
	}
}

.child-margin-clear, 
.child-margin-clear-bottom {
	 > *:last-child {
		margin-bottom: 0;
	}
}

.group {
	@include float-clear;
}

.visually-hidden {
	@include visually-hidden;
}