/*---
title:   Regions
section: Page
---

Regions are generally top-level elements that have background colors & images, but they can also be used inside of containers or grid elements.

```example:html
<div class="region-teal region--modifier">
  <div class="container gutter">
    <p style="color:#fff;text-align:center;">Nulla vitae elit libero, a pharetra augue.</p>
  </div>
</div>
```
*/

.region-blue {
  background-color: $blue;
}


.region--modifier {
	/* background: url(../images/pattern.jpg);*/
}