/* media queries */
@define-mixin mq $break {
  @media (min-width: $break) { @mixin-content; }
}

@define-mixin mq-max $break {
  @media (max-width: $break) { @mixin-content; }
}

/* image related */
@define-mixin image-replace {
  display: block;
  text-indent: 50%;
  overflow: hidden;
  white-space: nowrap;
}

@define-mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(1px 1px 1px 1px);
}

@define-mixin pseudo-absolute {
  position: absolute;
  content: '';
  display: inline-block;
}

/* lists */
@define-mixin plain-list {
  margin: 0;
  padding: 0;
  li {
   margin: 0;
   list-style: none;
  }
}