/* media queries */
@define-mixin mq $break {
  @media (min-width: $break) { @mixin-content; }
}

@define-mixin mq-max $break {
  @media (max-width: $break) { @mixin-content; }
}

/* media block */
@define-mixin media {
  display: flex;
  width: 100%;
}

@define-mixin media_image {
  flex: 0 0 auto;
}

@define-mixin media_body {
  padding-left: 15px;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.4;
}

@define-mixin float-clear {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

@define-mixin margin-clear {
  &:before {
    clear: both;
    content: '';
    display: table;
  }
}

/* image related */
@define-mixin image-replace {
  display: block;
  text-indent: 50%;
  overflow: hidden;
  white-space: nowrap;
}

@define-mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(1px 1px 1px 1px);
}

/* position */
@define-mixin centerer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@define-mixin pseudo-absolute {
  position: absolute;
  content: '';
  display: inline-block;
}

/* lists */
@define-mixin plain-list {
  margin: 0;
  padding: 0;
  li {
   margin: 0;
   list-style: none;
  }
}