@mixin horizontal-group {
    > * {
      vertical-align: middle;
      display: inline-block;
    }
}

/* centering */
@mixin centerer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-y {
  top: 50%;
  transform: translateY(-50%);
}

@mixin centerer-x {
  left: 50%;
  transform: translateX(-50%);
}

/* floats */
@mixin float-clear {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

/* margin clearing */
@mixin child-margin-clear {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin child-margin-clear-first {
  > *:first-child {
    margin-top: 0;
  }
}

@mixin child-margin-clear-last {
  > *:last-child {
    margin-bottom: 0;
  }
}