.svg-stat-bus {
	background: url("../img/sprites.svg") 0 0 no-repeat;
}

.svg-stat-bus-dims {
	width: 131.23px;
	height: 88.58px;
}

.svg-trash-can {
	background: url("../img/sprites.svg") 0 99.52808988764045% no-repeat;
}

.svg-trash-can-dims {
	width: 27px;
	height: 30px;
}

