/*---
title:   Button
section: Objects
---

```example:html
<a href="#" class="button">Standard Button</a><br><br>
<a href="#" class="button button--dark">Dark Button</a><br><br>
<a href="#" class="button-sm">Small Button</a><br><br>
```
*/

%button-base {
  font-family: $font-secondary;
  text-transform: uppercase;
  line-height: 1;
  background: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  /* width: 144px;*/
  max-width: 100%;
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  &::-moz-focus-inner {
    border: 0;
  }

  @mixin link-states {
    text-decoration: none;
  }
}

%blue-button-base {
  color: #fff;
  background: $blue;
  @mixin link-states {
    background: $blue-dark;
  }
}

.button {
  @extend %button-base;
  @extend %blue-button-base;
  height: $button-height;
  line-height: $button-height;
  font-size: 1.5rem;
}

.button--dark {
  background: #000;
   @mixin link-states {
    background: #333;
  }
}

.button-sm {
  @extend %button-base;
  @extend %blue-button-base;
  height: $button-sm-height;
  line-height: $button-sm-height;
  font-size: 1.5rem;
}