/*---
title:   Flag
section: Objects
---

Flex version of Harry Roberts' flag object https://csswizardry.com/2013/05/the-flag-object/

For <IE10 support, see https://codepen.io/siiron/full/kHdlp/

```example:html
  <div class="flag flag--center">
      <div class="flag_media">
        <img src="https://unsplash.it/150/100/?random" alt="">
      </div>
      <div class="flag_body">
        <p>Donec sed odio dui. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </div>
```
*/

.flag {
  display: flex;
  width: 100%;
}

.flag_media {
  flex: 0 0 auto;
}

.flag_body {
  @mixin child-margin-clear;
  padding-left: 15px;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
}

.flag--center {
  .flag_body {
    align-self: center;
  }
}

