/*---
title:   Social links
section: Objects
---


```example:html
<div class="soc-links">
  <a href="#" target="_blank" class="soc-link soc-link_fb"><span class="soc-link_icon svg-soc-fb"></span><span class="visually-hidden">like us on facebook</span></a></br>
  <a href="#" target="_blank" class="soc-link soc-link_tw"><span class="soc-link_icon svg-soc-tw"></span><span class="visually-hidden">follow us on twitter</span></a>
</div>
```
*/

.soc-links {
	margin-top: 20px;
}

.soc-link {
	$size: 47px;
	$radius: 50%;
	
	background: $blue;
	border-radius: $radius;
	display: inline-block;
	height: $size;
	width: $size;
	text-align: center;
	vertical-align: middle;
	position: relative;	
	margin-left: 10px;

	&:first-of-type {
		margin-left: 0;
	}

	@mixin link-states {
		background: $blue-dark;
	}
}

.soc-link_icon {
	@mixin centerer;
	position: absolute;
	z-index: 1;
}