/*---
title:   Links
section: Basic
---

```example:html
<a href="#">plain link</a><br><br>
<a href="#" class="icon-link"><img src="https://placehold.it/32" alt="" />icon link*</a>
```
\*The img tag could also be a span with svg sprite classes
*/

a {
  color: $blue;
  text-decoration: none;
  &:hover, &:focus {
  	/* color: $blue-dark; */
  	text-decoration: underline;
  }
}

.icon-link {
  @mixin horizontal-group;
  img {
    margin-right: 10px;
  }
}

.skip-nav {
	@mixin visually-hidden;
	transform: translate(0,-40px);
	opacity: 0;
	/* transition: transform $transition-short, opacity $transition-short;*/
	width: 100%;
	left: 0;
	&:focus {
		color: #fff;
		transform: translate(0,0);
		opacity: 1;
        height: auto;
        top: -1px;
        display: block;
        overflow: auto;
        clip: auto;
        z-index: 50;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        background-color: #000;
        font-weight: 700;
        outline: none;
    }
}