/**/
/* Base Table */
/* table {
  width: 100%;
  border-spacing: 0;
  font-size: $ts-sm;
  line-height: 1.2;
  margin-bottom: $vert-space-lg;
}
td,th {
  padding: 8px;
}
th {
  text-align: left;
  
}

tbody {
  tr:nth-child(even) {
    td {
      
    }
  }
}

tfoot {
  color: #777;
  font-style: italic;
  td {
    padding: 16px 8px;
  }
} */
