/* modifiers */
%has-white-text {
    @mixin font-smoothing;
    color: #fff;
    h2 {
        color: #fff;
    }
}

%section-spacing-1 {
    padding: 30px 15px 50px;
}

/* sections */
.blue-section {
    @extend %section-spacing-1;
    @extend %has-white-text;
    background-color: $blue;
}
